html, body {
    height: 100%;
}

body {
    display: flex;
}

.panel {
    height: 100%;
    width: 50%;
    /*outline: 1px solid #0b0c0c;*/
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

