html, body {
    height: 100%;
}

body {
    display: flex;
}

.panel {
    height: 100%;
    width: 50%;
    /*outline: 1px solid #0b0c0c;*/
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 0.25rem;
}

input, select, textarea {
    border: 1px solid black;
}

#heist-instance-xp-amount-input {
    width: 4ch;
}

/* Chrome, Safari, Edge, Opera */
.no-spinner::-webkit-outer-spin-button,
.no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
.no-spinner[type=number] {
    -moz-appearance: textfield;
}